body {
    background: url(/static/background.jpg) 0 0 repeat;
}
.hide{
    display: none;
}
.header {
    background: url(/static/headfooter.png) 0 0 repeat;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.content {
    padding-top: 7.1em;
}
#morzeButton:hover {
    background-color: #b1afaf;
}
#morzeInput {
    text-align: center;
    font-size: 1.4em;
}
#morzeButtonPlaceholder {
    margin: 1em;
}
#morzeButton {
    font-size: 1.4em;
    background-color: #ccc;
}
#headTxt, #headTxt2 {
    margin-top: 10px;
}